body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-family: 'Comic Sans MS',sans-serif;
    background-image: url(https://images.wallpaperscraft.ru/image/stena_kirpich_kirpichnyj_142654_1920x1080.jpg);
    color:black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.background_style {
    background-image: url(https://luxfon.com/images/201203/luxfon.com_9024.jpg);
    border-radius:5px;
}
